mixin navbarbutton(name, url, navpagename)
  if navpagename == category
    li.active
      a(href=url)= name
        span.sr-only (current)
  else
    li
      a(href=url)= name

nav.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='/')
        i.fa.fa-gamepad

    .collapse.navbar-collapse#bs-example-navbar-collapse-1
      ul.nav.navbar-nav
        +navbarbutton('Home', '/', 'home')
        +navbarbutton('Scraper Admin', '/cronjob', 'cronjob')
