extends layout

block content
  .container
    .row
      .col-md-6
        p
          | Welome to scraper administration. In here you can stop or start the
          | scraper job.
          if scraperRunning
            p.alert.alert-success
              | Current scraper status: 
              strong Running
          else
            p.alert.alert-danger
              | Current scraper status: 
              strong Stopped
      .col-md-6
        if scraperRunning
          form(method='POST', action='#{baseUrl}/stop')
            button.btn.btn-danger(type='submit') Stop
        else
          form(method='POST', action='#{baseUrl}/start')
            button.btn.btn-success(type='submit') Start
