extends layout

block content
  .container
    .row
      .col-md-12
        .list-group
          each entry in games
            a.list-group-item(href='/?game=' + encodeURIComponent(entry.name))= entry.name
