extends layout

block content
  .container
    .row
      .col-md-12
        h1
          a.btn.btn-primary(href=url, target="_blank")
            i.fa.fa-steam
          |  #{name}
      .col-md-12
        script
          | var rawData = [
          each entry in players
            | [new Date('#{entry.time}'), #{entry.count}],
          | ];
        script(src="https://www.google.com/jsapi?autoload={'modules':[{'name':'visualization','version':'1','packages':['annotationchart']}]}")
        script.
          google.load('visualization', '1', {'packages':['annotationchart']});
          google.setOnLoadCallback(drawChart);
          function drawChart() {
            var data = new google.visualization.DataTable();
            data.addColumn('date', 'Date');
            data.addColumn('number', 'Players');
            data.addRows(rawData);

            var chart = new google.visualization.AnnotationChart(document.getElementById('chart'));

            var options = {
              displayAnnotations: false
            };

            chart.draw(data, options);
          }
          $(document).ready(function(){
            $(window).resize(function(){
              drawChart();
            });
          });
        #chart
